* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.kafedraninLogosu {
  border-radius: 50%;
}


.colmdHisse {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
}

p {
  text-transform: uppercase;
  color: white;
}

.colmdSekiller {
  border: 3px solid white;
  width: 330px;
}

.sliderElement {
  width: 1000px;
  height: 500px;
}

.imagesSlider {
  width: 500px;
}

.f_panel_boxes img {
  width: 100px;
  height: 110px;
}

.f_panel_boxes a {
  text-decoration: none;
}

.container1 {
  width: 100%;
}

.xeber1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}

li {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.card-text-hisse {
  color: black;
}

.imageAltinciHisse {
  width: 100%;
}

.footer {
  background-color: rgb(0, 33, 71);
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
}

.container2{
  margin: 0 1rem !important;
  font-family: 'Times New Roman', Times, serif;
}