table {
    position: absolute;
    top: 50px;
    left: 0;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(42, 66, 202);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.yarat {
    position: absolute;
    top: 10px;
    right: 10%;
    border-radius: 5px;
}

.axtar{
    position: absolute;
    top: 10px;
    left: 10%;
    border-radius: 5px;
}