:root {
  --darkblue: #0F1730;
  --lightcolor: rgb(247, 248, 251);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(247, 248, 251);
}

a {
  color: var(--lightcolor);
  text-decoration: none;
}

.containerAdmin {
  padding: 20px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--darkblue);
  color: #FFF;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul {
  margin-top: 50px;
  list-style: none;
}

.sidebar ul li {
  padding: 16px 10px;
  margin: 16px;
  border-radius: 5px;
}

.sidebar ul li a {
  color: currentColor;
  display: flex;
  align-items: center;
}

.sidebar ul li a i {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li.active {
  background-color: var(--lightcolor);
  color: var(--darkblue);
}

.sidebar ul li:hover {
  background-color: rgb(25 33 68 / .8);
  color: var(--lightcolor);
}

.content {
  position: fixed;
  right: 0;
  width: calc(100% - 250px);
  height: 100%;
  min-height: 100vh;
  background-color: var(-lightcolor);
  overflow: hidden auto
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  gap: 20px;
}

nav p {
  display: flex;
  gap: 10px;
}

nav .notification {
  position: relative;
}

nav .notification i {
  font-size: 1.3rem;
}

nav .notification .badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 10px;
  background-color: #f00;
  color: var(--lightcolor);
  font-size: 10px;
  text-align: center;
  line-height: 16px;
}

nav .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

nav .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  color: var(--darkblue);
}


.cards-containerAdmin {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 2%;
  margin: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 2%;
  width: 49%;
  overflow: hidden;
}

.card>div {
  width: 100%;
  height: 100%;
  overflow: auto;
}


@media (width < 1024px) {
  .card {
    width: 98%;
  }

}


* {
  scrollbar-width: thin;
  scrollbar-color: #0C0175 var(--darkblue);
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--darkblue)
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--darkblue);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--darkblue);
}

.profileIcon {
  position: relative;
  top: 10px;
  left: 40px;
  border-radius: 800px;
}